{% load staticfiles %}
<!Doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>221.kg</title>

    <!-- here is the font which we have got from google -->
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    

    <!-- Custom styles for this template -->
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/shop-homepage.css' %}" rel="stylesheet">
    <link href="{% static 'css/reservation-schedule.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/reservation-css.css' %}" rel="stylesheet">
    
    
    
    <!-- here we have font-awsome link -->
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css'%}">
  </head>

  <body>
   <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MVJK9M"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MVJK9M');</script>
  <!-- End Google Tag Manager -->


    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  class="navbar-brand" href="{% url 'reservation:index'%}"> <img id="logo" src="{% static 'images/logo1.png'%}"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="">Забронировать поле</a></li>
            <li><a href="#contact">Как это работает</a></li>
            <li><a href="{% url 'reservation:team'%}">О нас</a></li>
            <li><a href="#footer">Kонтакты</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'main:profile' %}">{{user.username}}</a></li>
            <li><a href="{% url 'main:signout' %}">выйти</a></li>
            {% else %}
            <li><a href="{% url 'main:signin' 'reservation' %}">Войти</a></li>
            <li><a href="{% url 'main:signup' %}">Регистрация</a></li>
            {% endif %}
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <header class="intro-header" style="background-image: url(../../../media/{{field.image1}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{field.name}}</h1>
                        <hr class="small">
                        <span class="subheading">{{field.address}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Here we have maincontent -->
    <div class="maincontent">
    <div class="container bordered">
        <div class="row">
            <div class="col-lg-12">
                <div class="row text-center">
                    <div class="col-md-4">
                        <h2>Ширина поля : {{field.width}}</h2>
                    </div>
                    <div class="col-md-8">
                        <h2>Цена за час(с 09-00 до 17-00) : {{field.price_low}} сом</h2>
                    </div>
                    <div class="col-md-4">
                        <h2>Длина поля : {{field.height}}</h2>
                    </div>
                    <div class="col-md-8">
                        <h2>Цена за час(с 17-00) : {{field.price_usual}} сом</h2>
                    </div>
                </div>
                <hr>
                <div class="row text-center">
                    <div class="col-md-4">
                        <h2>Раздевалка :
                        {% if field.changing_room %}
                            Есть
                        {% else %}
                            Нет
                        {% endif %}
                        </h2>
                    </div>
                    <div class="col-md-4">
                        <h2>Душ :
                        {% if field.shower %}
                            Есть
                        {% else %}
                            Нет
                        {% endif %}
                        </h2>
                    </div>
                    <div class="col-md-4">
                        <h2>Туалет :
                        {% if field.wc %}
                            Есть
                        {% else %}
                            Нет
                        {% endif %}
                        </h2>
                    </div>
                </div>
                {% if field.note1%}
                    <br>
                    <hr>
                    <h3>{{field.note1}}</h3>
                    {% endif %}
                    {% if field.note2%}
                    <hr>
                    <h3>{{field.note2}}</h3>
                    {% endif %}
            </div>    
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="../../media/{{field.image1}}" alt="image1">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="../../media/{{field.image2}}" alt="image2">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="../../media/{{field.image3}}" alt="image3">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="text-align:center" class="page-header"> Расписание 
                    <small> {{field.name}}</small>
                </h1>
                
            </div>
        </div>
        
        <!-- Team Members Row -->
        <div class="row">
            {% for day in days %}
                <div class="col-lg-12">
                <h2 class="page-header">{{day.day_of_week}} : {{day.date}}</h2>
                <div class="bordered">
                    <table>
                    <tr id="hours">
                        {% for hour in hours %}
                            {%if hour < 10 %}
                                <th class="thhour">0{{ hour}} : 00  </th>
                            {% else %}
                                <th class="thhour">{{ hour}} : 00  </th>
                            {% endif %}
                        {% endfor %}
                        <th class="thhour">00 : 00  </th>
                    </tr>
                    <tr>
                        {% if day.h9_00 %}
                            <td class ='busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h10_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h11_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h12_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h13_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h14_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h15_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h16_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h17_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h18_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h19_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h20_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h21_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h22_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}
                        {% if day.h23_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %} 
                        {% if day.h24_00 %}
                            <td class = 'busy' bgcolor="#FF0000"> Зан.</td>
                        {% else %}
                            <td class='free' bgcolor="#00FF00">Своб.</td>
                        {%endif %}                        
                    </tr>
                    
                </table>
                <br>    
                <p class="text-center"><a href={% url 'reservation:reserve' field.id day.id %} class="btn btn-primary btn-lg" role="button">Бронировать</a></p>  
                </div>
                
                  
            </div>
            {% endfor %}
        </div>
        <br><br><br>
        <h3 class="text-center">Карта</h3>
        <div class="container">
            <img height="400" width="1100" src="../../media/{{field.map_image}}" alt="map">
            <h4 class="text-center">{{field.note3}}</h4>
        </div>
        <br><br><br>

    </div>
    
    <div class="footer">
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="https://www.facebook.com/oskar.dasilva.7">
              <span class="fa-stack fa-lg text-left">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>Подпишись на наш Twitter<br>
            </a>

            <a href="https://www.facebook.com/oskar.dasilva.7">
              <span class="fa-stack fa-lg text-left">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
              </span>Cтраничка Facebook <br>
            </a>  
          </div>

          <div class="col-md-6">
            <span class="fa-stack fa-lg text-left">
               <i class="fa fa-square-o fa-stack-2x"></i>
               <i class="fa fa-phone fa-stack-1x"></i>
            </span> +996556606737<br>
            <span class="fa-stack fa-lg text-left">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-map-marker fa-stack-1x"></i>
            </span>Тунгуч,улица Анкара 1/8<br>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.easing.min.js'%}"></script> 
    <script src="{% static 'js/wow.min.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    
    
 <!-- WWW.NET.KG , code for http://221.kg -->
<script language="javascript" type="text/javascript">
 java="1.0";
 java1=""+"refer="+escape(document.referrer)+"&amp;page="+escape(window.location.href);
 document.cookie="astratop=1; path=/";
 java1+="&amp;c="+(document.cookie?"yes":"now");
</script>
<script language="javascript1.1" type="text/javascript">
 java="1.1";
 java1+="&amp;java="+(navigator.javaEnabled()?"yes":"now");
</script>
<script language="javascript1.2" type="text/javascript">
 java="1.2";
 java1+="&amp;razresh="+screen.width+'x'+screen.height+"&amp;cvet="+
 (((navigator.appName.substring(0,3)=="Mic"))?
 screen.colorDepth:screen.pixelDepth);
</script>
<script language="javascript1.3" type="text/javascript">java="1.3"</script>
<script language="javascript" type="text/javascript">
 java1+="&amp;jscript="+java+"&amp;rand="+Math.random();
 document.write("<a href='http://www.net.kg/stat.php?id=4236&amp;fromsite=4236' target='_blank'>"+
 "<img src='http://www.net.kg/img.php?id=4236&amp;"+java1+
 "' border='0' alt='WWW.NET.KG' width='88' height='10' /></a>");
</script>
<noscript>
 <a href='http://www.net.kg/stat.php?id=4236&amp;fromsite=4236' target='_blank'><img
  src="http://www.net.kg/img.php?id=4236" border='0' alt='WWW.NET.KG' width='88'
  height='10' /></a>
</noscript>
<!-- /WWW.NET.KG -->
   
 </body>
</html>
    
    