{% load staticfiles %}
<!Doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>221.kg</title>

    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css'%}">

  </head>

  <body>
  <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MVJK9M"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MVJK9M');</script>
  <!-- End Google Tag Manager -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  class="navbar-brand" href="{% url 'bet:index'%}"> <img id="logo" src="{% static 'images/logo1.png'%}"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'bet:make_bet'%}">Сделать ставку</a></li>
            <li><a href="{% url 'bet:archive' %}">Резултаты</a></li>
            <li><a href="{% url 'bet:how_it_works' %}">Как это работает</a></li>
            <li><a href="{% url 'bet:team'%}">О нас</a></li>
            <li><a href="#footer">Kонтакты</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'main:profile' %}">{{user.username}}</a></li>
            <li>
            <a><span data-toggle="modal" data-target="#signout"><span style="cursor:pointer">выйти</span></span></a>
            </li>
            {% else %}
            <li><a href="{% url 'main:signin' 'bet'%}">Войти</a></li>
            <li><a href="{% url 'main:signup' %}">Регистрация</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Here we have maincontent -->
    <div class="maincontent">
<div class="container" >
    <br>
        <br>
            <br>
    {% if success_message%}
        <div class="alert alert-success text-center" role="alert">
        <br>
        <h5>{{success_message}}</h5>
        <br>
        </div>
    {% endif %}
    <div style="background-color:#ECE9E9;border-radius:100px;" class="container">
    	<div style="padding:20px;" class="row" >
    		<div class="col-md-4 col-md-offset-2">
    			<h4>Приз этой недели : {{tour.tour_prize}}</h4>
    		</div>
    		<div class="col-md-4">
    			<h4>Ставки берутся до : {{tour.tour_end}}</h4>
    		</div>

    		<div class="col-md-4 col-md-offset-2">
    			<h4>Номер тура : {{tour.tour_number}}</h4>
    		</div>
    	</div>
    </div>
    {% if bet_of_user %}
        <form action="" method="POST" role="form">
        {% csrf_token %}
       <br>
       <br>
       <br>
        <div class="container">
          
        
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
            <h3 style="text-align:center;"><strong>Матчи</strong> </h3>
            <br>
                {% if status_error %}
                    <b><h5 style="color:red;" >*{{status_error}}</h5></b>
                {% endif %}
            </div>
            
        {% for bet,res in bets %}  
       
            <div class="col-md-8 col-md-offset-2">
             <br>
                <h4> <strong>{{bet.first_team}}</strong> vs <strong>{{bet.second_team}}</strong></h4>
                    <select name="status" class="form-control">
                    {% if res = 1%}
                    <option disabled selected="" value="1"><strong>Победит {{bet.first_team}}</strong></option>
                    {% elif res = 2%}
                    <option disabled selected="" value="2"><strong>Победит {{bet.second_team}}</strong></option>
                    {% else %}
                    <option disabled selected="" value="3"><strong>Ничья</strong></option>
                    {% endif %}  
                    </select>
            </div>
        {% endfor %}

            <div class="col-md-12 text-center">
            <br><br>
                <br>
              <div class="alert alert-info" role="alert"><br>вы уже сделали ставку на этот тур <br><br></div>
            
                
                
            </div>
            </div>
            </div>
        </form>
    {% else %}

        <form action="" method="POST" role="form">
        {% csrf_token %}
       <br>
       <br>
       <br>
        <div class="container">
          
        
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
            <h3 style="text-align:center;"><strong>Матчи</strong> </h3>
            <br>
                {% if status_error %}
                    <b><h5 style="color:red;" >*{{status_error}}</h5></b>
                {% endif %}
            </div>
        {% for bet in bets %}  
       
            <div class="col-md-8 col-md-offset-2">
             <br>
                <h4> <strong>{{bet.first_team}}</strong> vs <strong>{{bet.second_team}}</strong></h4>
                    <select name="status" class="form-control">
                        <option value="0" disabled selected="">Не выбрано</option>
                        <option value="1"><strong>Победит {{bet.first_team}}</strong></option>
                        <option value="2"><strong>Победит {{bet.second_team}}</strong></option>
                        <option value="3"><strong>Ничья</strong></option>
                    </select>
            </div>
        {% endfor %}

            <div class="col-md-12 text-center">
            <br><br>
                <br>
            {% if user.is_authenticated %}
              <input type='submit' value='Поеxали'  class="btn btn-danger btn-lg" role="button">
            {% else %}
              <div class="alert alert-warning" role="alert"><br>вы должны <a href="{%url 'main:signin' 'bet'%}">войти</a> чтобы сделать ставку<br><br></div>
            {% endif %}
                
                
            </div>
            </div>
            </div>
        </form>
    {% endif %}
    
    <br><br>
        <br><br>
            <br>
        <br>
            <br>
</div>
</div>
    
    <div class="footer">
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="https://www.facebook.com/oskar.dasilva.7">
              <span class="fa-stack fa-lg text-left">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>Подпишись на наш Twitter<br>
            </a>

            <a href="https://www.facebook.com/oskar.dasilva.7">
              <span class="fa-stack fa-lg text-left">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
              </span>Cтраничка Facebook <br>
            </a>  
          </div>

          <div class="col-md-6">
            <span class="fa-stack fa-lg text-left">
               <i class="fa fa-square-o fa-stack-2x"></i>
               <i class="fa fa-phone fa-stack-1x"></i>
            </span> +996556606737<br>
            <span class="fa-stack fa-lg text-left">
              <i class="fa fa-square-o fa-stack-2x"></i>
              <i class="fa fa-map-marker fa-stack-1x"></i>
            </span>Тунгуч,улица Анкара 1/8<br>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.easing.min.js'%}"></script> 
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/wow.min.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>


<!-- Exit  model page -->
    <div class="modal fade" id="signout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{user.first_name}} {{user.last_name}}</h4>
            </div>
            <div class="modal-body">
                <h4>вы уверены что хотите выйти?</h4>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <a href="{% url 'main:signout'%}"><button type="button" class="btn btn-primary">Выйти</button></a>
                </div>
            </div>
        </div>
      </div>
    </div>


<!-- WWW.NET.KG , code for http://221.kg -->
<script language="javascript" type="text/javascript">
 java="1.0";
 java1=""+"refer="+escape(document.referrer)+"&amp;page="+escape(window.location.href);
 document.cookie="astratop=1; path=/";
 java1+="&amp;c="+(document.cookie?"yes":"now");
</script>
<script language="javascript1.1" type="text/javascript">
 java="1.1";
 java1+="&amp;java="+(navigator.javaEnabled()?"yes":"now");
</script>
<script language="javascript1.2" type="text/javascript">
 java="1.2";
 java1+="&amp;razresh="+screen.width+'x'+screen.height+"&amp;cvet="+
 (((navigator.appName.substring(0,3)=="Mic"))?
 screen.colorDepth:screen.pixelDepth);
</script>
<script language="javascript1.3" type="text/javascript">java="1.3"</script>
<script language="javascript" type="text/javascript">
 java1+="&amp;jscript="+java+"&amp;rand="+Math.random();
 document.write("<a href='http://www.net.kg/stat.php?id=4236&amp;fromsite=4236' target='_blank'>"+
 "<img src='http://www.net.kg/img.php?id=4236&amp;"+java1+
 "' border='0' alt='WWW.NET.KG' width='88' height='10' /></a>");
</script>
<noscript>
 <a href='http://www.net.kg/stat.php?id=4236&amp;fromsite=4236' target='_blank'><img
  src="http://www.net.kg/img.php?id=4236" border='0' alt='WWW.NET.KG' width='88'
  height='10' /></a>
</noscript>
<!-- /WWW.NET.KG -->

 </body>
</html>