body{
  padding-bottom: 0px;
}
.jumbotron{
    text-align: center;
    background-image: url("../images/image0.jpg");
    color: #ffffff;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bordered{
  border: gray solid 4px;
  padding: 10px;
  border-radius: 15px;
}
.btn-lg{
    font-size: 24px;
}

.jumbotron h1{
    margin-top: 0px;
    margin-bottom: 50px;
}
.jumbotron p{
    margin-bottom: 30px;
    font-weight: 100;
}

ul.nav,.jumbotron h1{
    font-family: 'Arvo', courier, serif;
}
.secondpart{
    font-family: 'Arvo', courier, serif;
    
}
.secondpart h2{
    text-transform: uppercase;
    color: #f74c3c;
}